body {
  background-color: black;
color: white
font-family: 'Raleway', sans-serif;;
}
h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
}
h2{
  color: #C70000;
}
p {
  color: white;
}
.jumbotron {
  background-color: #CBA65D;
}
a {
  color: black;
}
